.planetas-modelado {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.planeta {
    width: 600px;
    margin: 0 auto; /* Centra horizontalmente cada planeta */
}

.contenedor-img {
    width: 100%;
    display: flex;
    flex-direction: column; /* Cambia a columna para centrar verticalmente */
    justify-content: center;
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

.contenedor-esp {
    margin-top: 50px;
}

.contenedor-img h3 {
    color: white; /* Asegura que el color del texto sea blanco */
}

.contenedor-img h3 span {
    color: #00aaff;
}
