.navbar {
    display: flex;
    width: 100%;
background-color: black;
    justify-content: space-between;
    box-shadow: 0 2px 33px 0.3px rgba(43, 105, 228, 0.696); /* Ajustado para mejor difuminado */
    height: 100px;
    align-items: center;
}


.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-left: 20px;
}
img{
    margin-right: 20px;
}
