.principal {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: black; /* Fondo negro para evitar el blanco */
    margin-top: 30px; /* O cualquier valor que desees */
}


.info {
    width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
}

.info h1 {
    color: white;
    margin-bottom: 10px;
}

.info p {
    color: white;
}

.imagen-planetario {
    margin-right: 250px;
}
